# Data Cleaning for E-commerce Analysis

## About the Dataset

### Context

E-commerce has emerged as a pivotal channel for business development, enabling companies to establish a broader market presence through cost-effective and efficient distribution channels. This shift has fundamentally altered consumer behavior, with many individuals opting to shop online using computers or smart devices, facilitating convenient home deliveries.

### Content

This dataset comprises **500,000 rows** and **8 columns**, representing one year of sales transactions from a UK-based e-commerce (online retail) business. The London-based shop specializes in selling gifts and homewares for both adults and children through its website since 2007. The customer base is diverse, including:

- **Individual Consumers**: Making direct purchases for personal use.
- **Small Businesses**: Purchasing in bulk to resell through retail outlets.

#### Column Descriptions

1. **TransactionNo (categorical)**:  
   - A six-digit unique identifier for each transaction.
   - The prefix “C” denotes a cancellation.

2. **Date (numeric)**:  
   - The date when the transaction occurred.

3. **ProductNo (categorical)**:  
   - A five or six-digit unique identifier for each product.

4. **Product (categorical)**:  
   - The name of the product/item sold.

5. **Price (numeric)**:  
   - The unit price of the product in pound sterling (£).

6. **Quantity (numeric)**:  
   - The number of units purchased in each transaction.
   - Negative values indicate canceled transactions.

7. **CustomerNo (categorical)**:  
   - A five-digit unique identifier for each customer.

8. **Country (categorical)**:  
   - The country where the customer is located.

**Note:** A small percentage of transactions are cancellations, primarily due to products being out of stock. Customers typically cancel orders to ensure that all desired products are delivered simultaneously.


---

*This notebook focuses on cleaning and preparing the dataset to facilitate accurate and meaningful analysis, addressing the objectives outlined above.*

In [3]:
# First we will load the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
# here we will begin to load and present the data frame 
sale_df = pd.read_csv('/Users/danielharrod/Ecommerce_transaction_Analysis/data/Sales_Transaction.csv')

sale_df.head(10)

,TransactionNo,Date,ProductNo,ProductName,Price,Quantity,CustomerNo,Country
0,581482,12/9/2019,22485,Set Of 2 Wooden Market Crates,21.47,12,17490.0,United Kingdom
1,581475,12/9/2019,22596,Christmas Star Wish List Chalkboard,10.65,36,13069.0,United Kingdom
2,581475,12/9/2019,23235,Storage Tin Vintage Leaf,11.53,12,13069.0,United Kingdom
3,581475,12/9/2019,23272,Tree T-Light Holder Willie Winkie,10.65,12,13069.0,United Kingdom
4,581475,12/9/2019,23239,Set Of 4 Knick Knack Tins Poppies,11.94,6,13069.0,United Kingdom
5,581475,12/9/2019,21705,Bag 500g Swirly Marbles,10.65,24,13069.0,United Kingdom
6,581475,12/9/2019,22118,Joy Wooden Block Letters,11.53,18,13069.0,United Kingdom
7,581475,12/9/2019,22119,Peace Wooden Block Letters,12.25,12,13069.0,United Kingdom
8,581475,12/9/2019,22217,T-Light Holder Hanging Lace,10.65,12,13069.0,United Kingdom
9,581475,12/9/2019,22216,T-Light Holder White Lace,10.55,24,13069.0,United Kingdom

In [5]:
# Now we will examine the data types as well as the shape of the data frame
sale_df.shape

(536350, 8)

In [8]:
# Now we will examine the data frame for any missing values

sale_df.isnull().sum()

TransactionNo     0
Date              0
ProductNo         0
ProductName       0
Price             0
Quantity          0
CustomerNo       55
Country           0
dtype: int64

In [10]:
# Lets further examine the missing 'CustomerNO' values
missing_customer_no = sale_df['CustomerNo'].isnull().sum()
total_rows = sale_df.shape[0]
missing_percentage = (missing_customer_no / total_rows) * 100

print(f"Missing CustomerNo: {missing_customer_no} out of {total_rows} rows ({missing_percentage:.2f}%)")

Missing CustomerNo: 55 out of 536350 rows (0.01%)

In [12]:
# Now we will drop those missing values from the data frame

print(f"Totals Rows before removal: {sale_df.shape[0]}")

# Remove Rows with missing CustomerNo
sales_df_cleaned = sale_df.dropna(subset=['CustomerNo'])

# After removal
print(f"Total rows after removal: {sales_df_cleaned.shape[0]}")
print(f"Rows removed: {total_rows - sales_df_cleaned.shape[0]}")

Totals Rows before removal: 536350
Total rows after removal: 536295
Rows removed: 55

In [14]:
#Now that we have removed the missing values we will save the new data frame to a new csv file called: Sales_Transaction_Cleaned.csv
sales_df_cleaned.to_csv('/Users/danielharrod/Ecommerce_transaction_Analysis/data/Sales_Transaction_Cleaned.csv', index=False)